@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FPT Learning System</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole(FPTAppDev.Utils.Role.Trainee))
        {
            <div class="col-md-4">
                <h2>Trainee</h2>
            </div>
        }

        if (User.IsInRole(FPTAppDev.Utils.Role.Trainer))
        {
            <div class="col-md-4">
                <h2>Trainer</h2>
            </div>
        }


        if (User.IsInRole(FPTAppDev.Utils.Role.Staff))
        {
            <div class="col-md-4">
                <h2>Training Staff</h2>
            </div>
        }

        if (User.IsInRole(FPTAppDev.Utils.Role.Admin))
        {
            <div class="col-md-4">
                <h2>View Training Staff</h2>
                <p>
                    @Html.ActionLink("View", "StaffList", "Admin", null, new { @class = "btn btn-primary" })
                </p>
            </div>
            <div class="col-md-4">
                <h2>View Trainer</h2>
                <p>
                    @Html.ActionLink("View", "TrainerList", "Admin", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        }
    }


</div>